# view_dataframe
This is a demo of the function view_dataframe. view_dataframe views a dataframe in a dynamically way using ipywidgets

In [1]:
import numpy as np
import pandas as pd
from fagfunksjoner import view_dataframe

## Generate test data
Here is a function that generates some test data. We can choose the share of missing values we shall have on the column 'value'

In [2]:
def generate_test_dataframe(num_rows=10, missing_percentage=0.1):
    np.random.seed(42324)  # For reproducibility

    data = {
        'hs': np.random.choice(['03010000', '30019000', '54022711'], size=num_rows),
        'value': np.random.choice(list(range(10000, 1000000)), size=num_rows).astype(float),
        'weight': np.random.randint(1, 10000, size=num_rows),
        'import': np.random.choice([True, False], size=num_rows),
    }
    
    # Introduce missing values in 'value' column
    num_missing = int(missing_percentage * num_rows)
    indices_to_make_missing = np.random.choice(num_rows, size=num_missing, replace=False)
    data['value'][indices_to_make_missing] = None

    df = pd.DataFrame(data)

    # Add a new column 'price'
    df['price'] = df['value'] / df['weight']

    return df

## Generate test data and use the function with comaprison operators
First we use the slider to select data. It is used when we choose comparison operators (>,>=, <, <=). The default value for the slider bar is the median of the values.

In [3]:
foreign_trade = generate_test_dataframe(50, missing_percentage=0.1)
view_dataframe(dataframe=foreign_trade, column='value', operator='>=')

interactive(children=(FloatSlider(value=482340.0, description='Value', max=989692.0, min=25540.0, step=1.0), D…

## Use the function with equality parameters
When we use equality operators (==, !=), a multiple dropdown list is used. Now we can select data from this multiple select dropdown menu. If wanted, mark more than one line in the dropdown list by using the *shift* or *ctrl* key when you select values.

In [4]:
view_dataframe(dataframe=foreign_trade, column='hs', operator='==')

interactive(children=(SelectMultiple(description='Value(s)', index=(0,), options=('03010000', '30019000', '540…

## Sort values that is used by the view_dataframe function

In [5]:
view_dataframe(dataframe=foreign_trade.sort_values('price'), column='price', operator='>=')

interactive(children=(FloatSlider(value=88.6700614290333, description='Value', max=1882.5892514395393, min=7.3…

## string column with missing values
There are always issues when missing values appears. One special situation is when there are missing values in a string column. It is taken care of.

In [6]:
foreign_trade['value_o'] = foreign_trade['value'].astype(str)
display(foreign_trade.dtypes)
view_dataframe(dataframe=foreign_trade, column='value_o', operator='==')

hs          object
value      float64
weight       int64
import        bool
price      float64
value_o     object
dtype: object

interactive(children=(SelectMultiple(description='Value(s)', index=(0,), options=('101062.0', '105827.0', '131…

## Boolean columns are not treated as numeric columns

In [7]:
view_dataframe(dataframe=foreign_trade, column='import', operator='>=')

HTML(value='<b>Error:</b> Comparison operators are only allowed for numeric columns. Choose == or != instead.'…

In [8]:
view_dataframe(dataframe=foreign_trade, column='import', operator='==')

interactive(children=(SelectMultiple(description='Value(s)', index=(0,), options=(False, True), value=(False,)…

## The unique_limit parameter
If we have more than 100 different values to use with the equality operators, we get an error message. We can change the limit, however we should not use the equality operators on columns with very many unique values

In [9]:
view_dataframe(dataframe=foreign_trade, column='value_o', operator='==', unique_limit=25)

HTML(value="<b>Error:</b> The number of unique values in column 'value_o' is 46, which exceeds the limit of 25…